/* FOOTER CONTROLLER*/
.controllerButton{
    justify-content: center;
    text-align: center;
    border-radius:5em;
    margin: 1em 1.5em 2em 1.5em;
    border: 1em solid rgb(69, 90, 95,0.6);
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.1em;
    transition-timing-function: ease-in-out;
    background-image: linear-gradient(rgba(62, 119, 114, 0.248), 0.6, rgba(36, 35, 35, 0.316), rgba(0, 0, 0, 0.507));
    color:rgb(0, 247, 255);
    /*I set the transition properties, the duration and the effects.*/
    transition-property: box-shadow text-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    text-decoration: none;
}

.controllerButton:hover{
    transform: scale(1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0em 0.2em 0.3em 0.15em rgb(0, 225, 255);
    /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
    text-shadow: 0em 0em 0.1em rgb(0, 255, 229);
    text-decoration: none;
}


/* we set active in order to make the effect once clicked*/
.controllerButton:active{
    border-top-width: 0.25em;
    border-bottom-width: 0.8em;
    border-left-width: 0.45em;
    border-right-width: 0.45em;
    background-image: linear-gradient(rgb(62, 119, 114), rgb(36, 35, 35), black);
    transform: scale(1);
    text-decoration: none;


}

.controllerButton > a {
    text-decoration: none;
    color: rgb(0, 247, 255);
}

/*DISPLAY CONTROLLER*/
.elementHidden {
    display:none;
}