@media only screen and (max-width: 600px) {
*, *::before, *::after{
    box-sizing: border-box;
}
    body {
     font-size: 0.7em;
     width: auto;
    }
/*FOOTER ADAPTATION*/

    #controler {
        display: flex;
        align-content: space-around;
        align-items: center;
        justify-content: center;
    }

    .controllerButton{
        justify-content: center;
        text-align: center;
        border-radius:5em;
        margin: 1em 0.5em 2em 0.5em;
        border: 1em solid rgb(69, 90, 95,0.6);
        border-left-width: 0.5em;
        border-right-width: 0.5em;
        border-top-width: 0.1em;
        transition-timing-function: ease-in-out;
        background-image: linear-gradient(rgba(62, 119, 114, 0.248), 0.6, rgba(36, 35, 35, 0.316), rgba(0, 0, 0, 0.507));
        color:rgb(0, 247, 255);
        /*I set the transition properties, the duration and the effects.*/
        transition-property: box-shadow text-shadow;
        transition-duration: 100ms;
        transition-timing-function: ease-out;
        width: 20%;
        text-align: center;
    }
  /*VISUAL MAIN SCREEN*/
    .container {
        align-content: space-between;
        max-width: 70vw;
        height: auto;
        max-height: 70vh;
        background-color: rgba(0, 247, 255, 0.09);
        padding: 0.5em;
        border-radius: 3em;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0em 0em 0.7em 0.3em rgba(75, 118, 119, 0.576);
        border: 0.2em solid rgba(131, 228, 255, 0.467);
        color:rgb(255, 251, 251);
    }

    .terminalScreen {
        padding: 0.2em 0.4em;
        width: 90%;
    }
    #timelineList {
        margin-bottom: 2em;
    }
    .timeline{
        height: 70%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #scenario {
        font-size: 0.78em;
        height: 50%;
    }
    #storyPage {
        background-size: cover;
        padding-bottom: 1em;
    }
    #canvas {
        background-size: cover;
        width:  100vw;
        height: 100vh;
    }
  }

